.nav{
    width: 100%;
    height: 100px;
    display:flex;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    background-color: var(--nav-color);
    
}

.nav .leftSide img{
    height: 62.5%;
    margin-top: 9%;
    left: 10%
}

.nav .logoContainer{
    padding-left: 5vw;

}
.nav .leftSide{
    height: 50%;
    flex: 30%;
    display:flex;
}
.timeContainer{
    padding-left: 1.75vw;
    font-size:28px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;

}
.nav .rightSide{
    flex: 70%;
    display:flex;
    justify-content: right;
}

.dropDownMenus{
    display: none;
    padding-right: 5vw;
    padding-top: 8%;
    height: 80%;
}

@media only screen and (max-width: 700px){
    .dropDownMenus{
        display: flex;
    }

}
