.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #cbdbfb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  height: 100px;
  width: 100%;
  background-color : #f2f6fd;
  padding-top: 10px;
}
.card-container{
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #A5A5A5;
}

.card-wrapper{
  width: 100%; 
  height: 200px; 
  box-shadow: 0px 3px 50px #c2c0c0;
  display: flex;
  flex-direction: column;
  overflow-wrap:anywhere;
  overflow:auto;
}

.card-top{
  width: 100%;
  height: 2%;
}

.task-holder{
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display : flex;
  flex-direction: column;
  background-color: var(--taskbackground-color) !important;
  overflow-wrap:anywhere;
  overflow:auto;
  position: relative;
}

.card-header{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
  background-color: var(--cardheader-color) !important;
}

.task-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background-color) !important;
  padding : 10px 100px;
  overflow-wrap:anywhere;
  overflow:auto;
}

.button-62 {
  background: linear-gradient(to bottom right, #92b6fa, #a6cdf7);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(129, 90, 255, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(129, 90, 255, 0.5);
}